/* hide dynamically created useless stuff via css */
#nav-footer,
.contributors-sub,
.overheadIndicator.translationInProgress,
#nav-main-search,
.header-search,
.newsletter-container,
.dropdown-container,
.bc-data .bc-github-link,
.signin-link,
.homepage-hero .homepage-hero-search.hide {
  display: none;
}

/* style from article a.new */
article a.mdn-local-red-link {
  color: #900;
}

/* margin-top of Last modified is not needed */
.metadata-content-container .last-modified-date {
  margin-top: 0;
}
/* Article actions, with only the language switcher inside */
.button.action.has-icon.article-actions-toggle {
  display: none;
}

/* region old compatibility table */

/* Extracted from kuma, Licensed MPL-2.0 */
/* https://github.com/mdn/kuma */

.htab {
  margin: 0 auto 1em;
}

.htab > ul {
  text-align: left;
  display: inline;
  padding: 0;
  margin: 0 auto;
  position: relative;
  top: 0;
}

.htab > ul > li {
  background-color: #f1f6f8 !important;
  border: 4px solid transparent;
  color: #4d4e53;
  display: inline;
  list-style-type: none;
  margin: auto;
  opacity: .75;
  position: relative;
  padding: 5px 6px 3px 6px;
  text-align: left;
}

.htab > ul > li.selected {
  background-color: #eaeff2 !important;
  border-top-color: #f4f7f8;
  border-top-color: rgba(212, 221, 228, .25);
  font-weight: 700;
  opacity: 1 !important;
  padding-top: 4px;
  position: relative;
  z-index: 10;
}

.htab > ul > li.selected a {
  color: #000
}

.htab > div {
  background-color: #eaeff2;
  margin-top: 0;
  border: none;
  padding: 12px;
  position: relative;
  z-index: 9;
  word-wrap: break-word
}

.htab > ul,
.htab > ul > li,
.htab > ul > li > a {
  cursor: pointer
}

.htab > ul > li > a {
  padding: 2px 18px 4px;
  text-decoration: none
}

.htab > ul > li > a:focus,
.htab > ul > li > a:hover {
  text-decoration: underline
}

/*noinspection CssOverwrittenProperties*/
table.compat-table {
  border-color: #fff;
  border-color: transparent;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

table.compat-table td {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #f4f7f8;
  border-color: rgba(212, 221, 228, .25);
  background: #fff;
  vertical-align: top;
  word-wrap: break-word
}

table.compat-table td.header,
table.compat-table th {
  border: none;
  background: 0 0;
  padding: 2px 4px 8px;
  line-height: 1;
}

/* endregion old compatibility table */

/* region yari browser-compatibility-table */
.bc-history.bc-hidden {
  display: none;
}

@media screen and (min-width: 426px) {
  .bc-table tr.bc-history-desktop.bc-hidden {
    display: none;
  }
}

.only-icon > i.ic-prefix::before {
  font-size: 1rem;
  width: 28px;
}

/* endregion yari browser-compatibility-table */


/* region yari mask-image to background fix */
/* https://github.com/website-local/mdn-local/issues/785 */

.mask-fix a.external::after {
  background-size: cover;
  filter: invert(1) contrast(0.5);
  background-color: transparent;
}

.dark .mask-fix a.external::after {
  filter: none;
}

@media screen and (min-width: 1200px) {
  .mask-fix .main-wrapper .toc {
    background-image: none;
    mask-image: linear-gradient(180deg,transparent 0,#000 10% 90%,transparent);
  }
  .mask-fix .sidebar-container .toc-container {
    background-image: none;
    mask-image: linear-gradient(180deg,transparent 0,#000 3rem calc(100% - 3rem),transparent);
  }
}

/* icons in sidebars */
.mask-fix .icon-experimental,
.mask-fix .icon-nonstandard {
  background-color: transparent;
  filter: contrast(0.1) sepia(2) sepia(2) saturate(50) hue-rotate(200deg) brightness(0.9);
}

.mask-fix .icon-deprecated {
  background-color: transparent;
  filter: contrast(0.1) sepia(2) sepia(2) saturate(50) hue-rotate(340deg) brightness(0.9);
}

.mask-fix .notecard::before {
  background-color: transparent;
  filter: contrast(0.1) sepia(2) sepia(2) saturate(50) hue-rotate(200deg) brightness(0.9);
}

.mask-fix .notecard.warning::before,
.mask-fix .notecard.error::before,
.mask-fix .notecard.negative::before,
.mask-fix .notecard.deprecated::before,
.mask-fix .notecard.nonstandard::before {
  filter: contrast(0.1) sepia(2) sepia(2) saturate(50) hue-rotate(340deg) brightness(0.9);
}

.mask-fix .notecard.success::before{
  filter: contrast(0.1) sepia(2) sepia(2) saturate(50) hue-rotate(340deg) brightness(0.9);
}

.mask-fix .bc-legend-item-dt .icon,
.mask-fix .bc-table .icon {
  background-color: transparent;
  filter: opacity(0.6);
}
.dark .mask-fix .bc-legend-item-dt .icon,
.dark .mask-fix .bc-table .icon {
  filter: invert(1) opacity(0.6);
}
.mask-fix .icon.icon-no {
  filter: contrast(0.1) sepia(2) sepia(2) saturate(50) hue-rotate(340deg) brightness(0.9) !important;
}
.mask-fix .bc-notes-list .bc-supports-dd .icon {
  background-color: var(--border-primary);
  filter: none;
}
.mask-fix .bc-level-preview.icon {
  filter: contrast(0.1) sepia(2) sepia(2) saturate(50) hue-rotate(200deg) brightness(0.9) !important;
}
.mask-fix .bc-notes-list .bc-level-yes.icon.icon-yes {
  background-color: transparent;
  filter: brightness(0.6);
}
.dark .mask-fix .bc-notes-list .bc-level-yes.icon.icon-yes {
  filter: none;
}
.mask-fix abbr[title] {
  text-decoration: none;
}
.mask-fix .example-bad::after,
.mask-fix .example-good::after,
.mask-fix .example-bad::before,
.mask-fix .example-good::before {
  background-color: transparent;
  background-size: cover;
}
.mask-fix .example-bad::after,
.mask-fix .example-bad::before {
  filter: contrast(0.1) sepia(2) sepia(2) saturate(50) hue-rotate(340deg) brightness(0.9);
}
.mask-fix .example-good::after,
.mask-fix .example-good::before {
  filter: contrast(0.1) sepia(2) sepia(2) saturate(50) hue-rotate(150deg);
}
.mask-fix .breadcrumbs-container li .breadcrumb::after {
  filter: invert(1);
  background-color: transparent;
}
.dark .mask-fix .breadcrumbs-container li .breadcrumb::after {
  filter: none;
}
.mask-fix .icon.icon-theme-os-default,
.mask-fix .icon.icon-theme-light,
.mask-fix .icon.icon-theme-dark,
.mask-fix .icon.icon-sidebar,
.mask-fix .icon.icon-cancel,
.mask-fix .icon.icon-sidebar {
  background-color: transparent;
}
.mask-fix .icon.icon-cancel {
  filter: invert(1);
}
.dark .mask-fix .icon.icon-theme-os-default,
.dark .mask-fix .icon.icon-theme-light,
.dark .mask-fix .icon.icon-theme-dark,
.dark .mask-fix .icon.icon-sidebar,
.dark .mask-fix .icon.icon-sidebar {
  filter: invert(1);
}
.dark .mask-fix .icon.icon-cancel {
  filter: none;
}
.mask-fix .icon.icon-unknown {
  filter: invert(0.2);
}
.dark .mask-fix .icon.icon-unknown {
  filter: invert(1);
}
.mask-fix .languages-switcher-menu > .button .button-wrap::after,
.mask-fix .theme-switcher-menu > .button .button-wrap::after {
  background-color: transparent;
  filter: invert(1) opacity(0.6);
}
.dark .mask-fix .languages-switcher-menu > .button .button-wrap::after,
.dark .mask-fix .theme-switcher-menu > .button .button-wrap::after {
  filter: opacity(0.6);
}
.mask-fix .top-navigation-main .menu-toggle::after {
  background-color: transparent;
  filter: invert(1);
}
.dark .mask-fix .top-navigation-main .menu-toggle::after {
  filter: none;
}
.mask-fix .featured-articles .article-tile p::after {
  background-image: none;
  mask-image: linear-gradient(90deg,transparent,#000 75%);
}
/* 20230716 baseline icons */
/* https://github.com/website-local/mdn-local/issues/848 */
.mask-fix .baseline-indicator summary .browsers .engine .browser::after {
  background-color: transparent;
}
.mask-fix .icon.icon-chevron {
  background-color: transparent;
  filter: invert(1);
}
/* 20230716 playground copy icons */
.mask-fix .code-example .copy-icon {
  background-color: transparent;
  filter: opacity(0.6);
}
.dark .mask-fix .code-example .copy-icon {
  filter: invert(1) opacity(0.6);
}
/* 20230716 process: masked icons in blogs */
@media screen and (min-width: 769px) {
  .mask-fix .blog-container .previous-next a.next::after,
  .mask-fix .blog-container .previous-next a.next::before,
  .mask-fix .blog-container .previous-next a.previous::after,
  .mask-fix .blog-container .previous-next a.previous::before {
    background-color: transparent;
  }
  .dark .mask-fix .blog-container .previous-next a.next::after,
  .dark .mask-fix .blog-container .previous-next a.next::before,
  .dark .mask-fix .blog-container .previous-next a.previous::after,
  .dark .mask-fix .blog-container .previous-next a.previous::before {
    filter: invert(1);
  }
}
@media screen and (min-width: 1441px) {
  .mask-fix .blog-post-container > .toc-container .place.side,
  .mask-fix .blog-post-container > .toc-container .toc {
    background: none;
  }
}
@media screen and (min-width: 1200px) {
  .mask-fix .sidebar-container .toc-container,
  .mask-fix .sidebar-container.toc-container {
    background: none;
  }
}
@media screen and (min-width: 769px) {
  .mask-fix .sidebar-container .sidebar {
    background: none;
  }
}

.mask-fix .category-home .button .icon {
  background-color: transparent;
  filter: none;
}
/* endregion yari mask-image to background fix */

/* This padding is not needed */
div > section.place {
  min-height: 0;
}

aside.article-footer {
  padding: 0.5rem;
}

.article-footer .article-footer-inner p.last-modified-date {
  font-size: var(--type-tiny-font-size);
  margin: 0;
}

/* https://github.com/website-local/mdn-local/issues/1071 */
.curriculum-content-container.curriculum-module .curriculum-content scrim-inline[url],
.curriculum-content-container.curriculum-overview .curriculum-content scrim-inline[url] {
  aspect-ratio: auto;
  margin: 0;
}
