html {
  font-size: 1rem;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none
}

* {
  box-sizing: border-box
}

body {
  font-family: Lato, Lucida Grande,
  Lucida Sans Unicode, Lucida Sans, Verdana, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff
}

h1, h1 code {
  font-size: 2.5rem
}

h2, h2 code {
  font-size: 2rem
}

h3, h3 code {
  font-size: 1.75rem
}

h4, h4 code {
  font-size: 1.5rem
}

h5, h5 code {
  font-size: 1.25rem
}

h6, h6 code {
  font-size: 1rem
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: inherit;
  position: relative;
  margin: 1.5rem 0 1rem;
  text-rendering: optimizeLegibility
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  color: inherit;
  font-family: inherit
}

.pre, a.type, code, pre, span.type, tt {
  font-family: SFMono-Regular, Menlo,
  Consolas, Liberation Mono, Courier New, monospace;
  font-size: .9em;
}

#content {
  position: relative
}

a, a:active, a:link {
  color: #43853d;
  text-decoration: none;
  border-radius: 2px;
  padding: 1px 3px
}

a:focus, a:hover {
  color: #fff;
  background-color: #43853d;
  outline: none
}

strong {
  font-weight: 700
}

code a:hover {
  background-color: transparent
}

em code {
  font-style: normal
}

#changelog #gtoc {
  display: none
}

#gtoc {
  margin-top: .5rem;
  margin-bottom: 1rem
}

#gtoc ul {
  list-style: none;
  margin-left: 0;
  line-height: 1.5rem
}

#gtoc > ul > li {
  display: inline;
  border-right: 1px solid #000;
  margin-right: .4rem;
  padding-right: .4rem
}

#gtoc > ul > li:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0
}

li.version-picker {
  position: relative
}

li.version-picker:hover > a {
  border-radius: 2px 2px 0 0
}

li.version-picker:hover > ol {
  display: block;
  z-index: 1
}

li.version-picker a span {
  font-size: .7rem
}

ol.version-picker {
  background-color: #fff;
  border: 1px solid #43853d;
  border-radius: 0 0 2px 2px;
  display: none;
  list-style: none;
  position: absolute;
  right: 0;
  top: 1.25rem;
  width: 100%
}

#gtoc ol.version-picker li {
  display: block;
  border-right: 0;
  margin-right: 0
}

ol.version-picker li a {
  border-radius: 0;
  display: block;
  margin: 0;
  padding: .1rem .1rem .1rem 1rem;
}

ol.version-picker li:last-child a {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px
}

.line {
  width: calc(100% - 1rem);
  display: block;
  padding-bottom: 1px
}

.api_stability {
  margin: 0 0 1rem;
  padding: 1rem;
  line-height: 1.5
}

.api_stability, .api_stability * {
  color: #fff !important
}

.api_stability a {
  text-decoration: underline
}

.api_stability a:active,
.api_stability a:focus,
.api_stability a:hover {
  background-color: hsla(0, 0%, 100%, .4)
}

.api_stability a code {
  background-color: transparent
}

.api_stability_0 {
  background-color: #d60027
}

.api_stability_1 {
  background-color: #ec5315
}

.api_stability_2 {
  background-color: #4eba0f
}

.api_metadata {
  font-size: .85rem;
  margin-bottom: 1rem
}

.api_metadata span {
  margin-right: 1rem
}

.api_metadata span:last-child {
  margin-right: 0
}

ul.plain {
  list-style: none
}

abbr {
  border-bottom: 1px dotted #454545
}

p {
  text-rendering: optimizeLegibility;
  margin: 0 0 1.125rem;
  line-height: 1.5
}

#apicontent > :last-child {
  margin-bottom: 0;
  padding-bottom: 2rem
}

table {
  border-collapse: collapse;
  margin: 0 0 1.5rem
}

td, th {
  border: 1px solid #aaa;
  padding: .5rem;
  vertical-align: top
}

th {
  text-align: left
}

td {
  word-break: break-all;
}

@media only screen and (min-width: 600px) {
  td, th {
    padding: .75rem 1rem
  }

  td:first-child {
    word-break: normal
  }
}

dl, ol, ul {
  margin: 0 0 .6rem;
  padding: 0
}

dl dl, dl ol, dl ul, ol dl, ol ol, ol ul, ul dl, ul ol, ul ul {
  margin-bottom: 0
}

ol, ul {
  margin-left: 2rem
}

dl dt {
  margin: 1.5rem 0 0
}

dl dd, dl dt {
  position: relative
}

dl dd {
  margin: 0 1rem
}

dd + dt.pre {
  margin-top: 1.6rem
}

#apicontent {
  padding-top: 1rem
}

#apicontent .line {
  width: calc(50% - 1rem);
  margin: 1rem 1rem .95rem;
  background-color: #ccc
}

h2 + h2, h3 + h3 {
  margin: 0 0 .5rem
}

h2, h3, h4, h5 {
  position: relative;
  padding-right: 40px
}

.srclink {
  float: right;
  font-size: smaller
}

h1 span, h2 span, h3 span, h4 span {
  position: absolute;
  display: block;
  top: 0;
  right: 0
}

h1 span:hover, h2 span:hover, h3 span:hover, h4 span:hover {
  opacity: 1
}

h1 span a, h2 span a, h3 span a, h4 span a {
  color: #000;
  text-decoration: none;
  font-weight: 700
}

code, pre, tt {
  margin: 0;
  padding: 0
}

.pre, code, pre, tt {
  line-height: 1.5rem
}

pre {
  padding: 1rem;
  vertical-align: top;
  background-color: #f2f2f2;
  margin: 1rem;
  overflow-x: auto
}

pre > code {
  padding: 0
}

pre + h3 {
  margin-top: 2.225rem
}

code.pre {
  white-space: pre
}

#intro {
  margin-top: 1.25rem;
  margin-left: 1rem
}

#intro a {
  color: #ddd;
  font-weight: 700
}

hr {
  background-color: transparent;
  border: medium none;
  border-bottom: 1px solid #7a7a7a;
  margin: 0 0 1rem
}

#toc h2 {
  margin: 1.5rem 0
}

#toc p {
  margin: 0
}

#toc ul a {
  text-decoration: none
}

#toc ul li {
  margin-bottom: .666rem;
  list-style: square outside
}

#toc li > ul {
  margin-top: .666rem
}

#toc .stability_0:after {
  background-color: #d50027;
  color: #fff;
  content: "deprecated";
  margin-left: .25rem;
  padding: 1px 3px;
  border-radius: 3px
}

#apicontent li {
  margin-bottom: .5rem
}

#apicontent li:last-child {
  margin-bottom: 0
}

code, tt {
  color: #040404;
  background-color: #f2f2f2;
  border-radius: 2px;
  padding: 1px 3px
}

.api_stability code {
  background-color: rgba(0, 0, 0, .1)
}

a code {
  color: inherit;
  background-color: inherit;
  padding: 0
}

.type {
  line-height: 1.5rem
}

#column1.interior {
  margin-left: 234px;
  padding: 0 2rem;
  -webkit-padding-start: 1.5rem
}

#column2.interior {
  width: 234px;
  background-color: #333;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll
}

#column2 ul {
  list-style: none;
  margin: .9rem 0 .5rem;
  background-color: #333
}

#column2 > :first-child {
  margin: 1.25rem;
  font-size: 1.5rem
}

#column2 > ul:nth-child(2) {
  margin: 1.25rem 0 .5rem
}

#column2 > ul:last-child {
  margin: .9rem 0 1.25rem
}

#column2 ul li {
  padding-left: 1.25rem;
  margin-bottom: .5rem;
  padding-bottom: .5rem
}

#column2 .line {
  margin: 0 .5rem;
  background-color: #707070
}

#column2 ul li:last-child {
  margin-bottom: 0
}

#column2 ul li a {
  color: #ccc;
  border-radius: 0
}

#column2 ul li a.active,
#column2 ul li a.active:focus,
#column2 ul li a.active:hover {
  color: #43853d;
  border-radius: 0;
  /*border-bottom: 1px solid #43853d;*/
  background-color: transparent
}

#column2 ul li a:focus,
#column2 ul li a:hover,
#intro a:focus, #intro a:hover {
  color: #fff;
  background-color: transparent
}

span > .mark, span > .mark:visited {
  color: #707070;
  position: absolute;
  top: 0;
  right: 0
}

span > .mark:active, span > .mark:focus, span > .mark:hover {
  color: #43853d;
  background-color: transparent
}

td > :last-child, th > :last-child {
  margin-bottom: 0
}

.changelog > summary {
  margin: .5rem 0;
  padding: .5rem 0;
  cursor: pointer
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.github_icon {
  vertical-align: middle;
  margin: -2px 3px 0 0
}

@media only screen and (min-width: 1025px) {
  .apidoc #column2 > .line {
    pointer-events: none
  }

  .apidoc #column2 > :first-child, .apidoc #column2 > ul, .apidoc #column2 > ul > li {
    margin: 0;
    padding: 0
  }

  .apidoc #column2 > :first-child > a[href] {
    border-radius: 0;
    padding: 1.25rem 1.4375rem .625rem;
    display: block
  }

  .apidoc #column2 > ul > li > a[href] {
    padding: .5rem 1.4375rem;
    padding-right: 0;
    display: block
  }

  .apidoc #column2 > ul > :first-child > a[href] {
    padding-top: .625rem
  }

  .apidoc #column2 > ul > :last-child > a[href] {
    padding-bottom: .625rem
  }

  .apidoc #column2 > ul:first-of-type > :last-child > a[href] {
    padding-bottom: 1rem
  }

  .apidoc #column2 > ul:nth-of-type(2) > :first-child > a[href] {
    padding-top: .875rem
  }

  .apidoc #column2 > ul:nth-of-type(2) > :last-child > a[href] {
    padding-bottom: .9375rem
  }

  .apidoc #column2 > ul:last-of-type > :first-child > a[href] {
    padding-top: 1rem
  }

  .apidoc #column2 > ul:last-of-type > :last-child > a[href] {
    padding-bottom: 1.75rem
  }
}

@media only screen and (max-width: 1024px) {
  #content {
    overflow: visible
  }

  #column1.interior {
    margin-left: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    width: auto;
    overflow-y: visible
  }

  #column2 {
    display: none
  }
}

@media print {
  html {
    height: auto;
    font-size: .75em
  }

  #column2.interior {
    display: none
  }

  #column1.interior {
    margin-left: 0;
    padding: 0;
    overflow-y: auto
  }

  #gtoc, #toc, .api_metadata, .mark, .srclink {
    display: none
  }

  h1 {
    font-size: 2rem
  }

  h2 {
    font-size: 1.75rem
  }

  h3 {
    font-size: 1.5rem
  }

  h4 {
    font-size: 1.3rem
  }

  h5 {
    font-size: 1.2rem
  }

  h6 {
    font-size: 1.1rem
  }

  .api_stability {
    display: inline-block
  }

  .api_stability a {
    text-decoration: none
  }

  a {
    color: inherit
  }

  #apicontent {
    overflow: hidden
  }
}

.hljs {
  font-weight: 400;
  font-style: normal
}

.hljs-symbol {
  color: #333
}

.hljs-attribute, .hljs-keyword {
  color: #338
}

.hljs-number, .hljs-regexp, .hljs-string {
  color: #e54305
}

.hljs-doctag {
  color: #040404
}

.hljs-comment, .hljs-doctag .hljs-type, .hljs-doctag .hljs-variable {
  color: #666
}

body {
  font-family: Microsoft Yahei, Lato,
  Lucida Grande, Lucida Sans Unicode,
  Lucida Sans, Verdana, Tahoma,
  sans-serif;
}


#page_api #toc .stability_0:after {
  content: "\5F03\7528";
}

#page_api #modal_search_trigger {
  padding: 5px;
  margin-top: 10px
}

#page_api .tip_wrap {
  font-size: 12px;
  margin-top: -1em
}

#page_api .tip_en {
  background: #4eba0f;
  color: #fff;
  margin-right: 8px
}

#page_api .tip_trans {
  background: #ec5315;
  color: #fff;
  margin-right: 8px
}

#page_api .tip_no_trans {
  background: #aaa;
  color: #fff;
  border-radius: 2px;
  padding: 1px 3px;
  margin-right: 8px
}

#page_api .tip_code {
  background: #409eff;
  color: #fff;
  margin-right: 8px
}

#page_api .tip_depre {
  background: #d60027;
  color: #fff;
  border-radius: 2px;
  padding: 1px 3px;
  margin-right: 8px
}

#page_api .link_code {
  background: #409eff;
  color: #fff;
  font-size: 14px
}

#page_api_en .link_cn_wrap {
  font-size: 12px;
  margin-top: -1em
}

#page_api_en .link_cn_text {
  background: #4eba0f;
  color: #fff
}

#page_api_item #column1.interior {
  margin-left: 0;
}

#page_api_item #apicontent {
  padding-top: 0;
}

#page_api_item #content_left {
  width: 49%;
  float: left;
  border-right: 1px solid #eee;
  padding-right: 2%;
}

#page_api_item #content_right {
  float: left;
  width: 48%;
  margin-left: 3%;
}

.link-to-search, .link-to-edit, .link-to-run {
  display: none;
}


/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  /*text-shadow: 0 1px white;*/
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  /*font-size: 1em;*/
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  /*noinspection CssUnknownProperty*/
  -moz-tab-size: 4;
  /*noinspection CssUnknownProperty*/
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f0f0f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #777;
}

.token.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

